body {
    margin: 0;
}

#hero {
    position: absolute;
    font-size: 29px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}
